[package]
name = "solana-accountsdb-plugin-kafka"
description = "Solana AccountsDb plugin for Kafka"
authors = ["Blockdaemon"]
version = "0.1.4+solana.1.14.16"
edition = "2021"
repository = "https://github.com/Blockdaemon/solana-accountsdb-plugin-kafka"
license = "Apache-2.0"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
prost = "0.11"
rdkafka = { version = "0.29", features = ["ssl", "sasl"] }
solana-geyser-plugin-interface = { version = "=1.14.16" }
solana-logger = { version = "=1.14.16" }
solana-program = { version = "=1.14.16" }
solana-transaction-status = { version = "=1.14.16" }
log = "0.4.17"
serde_json = "1.0.96"
serde = { version = "1.0.160", features = ["derive"] }
simple-error = "0.3.0"

[build-dependencies]
prost-build = "0.11"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
