[package]
name = "solana-accountsdb-plugin-kafka"
description = "Solana AccountsDb plugin for Kafka"
authors = ["Blockdaemon"]
version = "0.1.6+solana.1.17.1-rc1"
edition = "2021"
repository = "https://github.com/Blockdaemon/solana-accountsdb-plugin-kafka"
license = "Apache-2.0"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
solana-geyser-plugin-interface = { version = "~1.17" }
solana-logger = { version = "~1.17" }
solana-program = "~1.17"
solana-transaction-status = { version = "~1.17" }

hyper = { version = "*", features = ["server"] }
lazy_static = "~1"
log = "*"
prometheus = "*"
prost = "*"
rdkafka = { version = "*", features = ["ssl", "sasl"] }
serde = { version = "~1", features = ["derive"] }
serde_json = { version = "~1" }
tokio = { version = "~1", features = ["rt-multi-thread", "time", "macros", "sync"] }

[build-dependencies]
anyhow = "~1"
cargo-lock = "~9"
git-version = "*"
prost-build = "*"
vergen = { version = "~8", features = ["build", "rustc"] }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
