[package]
name = "solana-accountsdb-plugin-kafka"
description = "Solana AccountsDb plugin for Kafka"
authors = ["Blockdaemon", "Triton One"]
version = "0.4.0"
edition = "2021"
repository = "https://github.com/rpcpool/solana-accountsdb-plugin-kafka"
license = "Apache-2.0"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
agave-geyser-plugin-interface = "~2.0.13"
hyper = { version = "0.14.26", features = ["server"] }
lazy_static = "1.4.0"
log = "0.4.0"
prometheus = "0.13.3"
prost = "0.12.1"
rdkafka = { version = "0.33.0", features = ["ssl", "sasl"] }
serde = { version = "1.0.147", features = ["derive"] }
serde_json = "1.0.81"
solana-logger = "~2.0.13"
solana-program = "~2.0.13"
solana-transaction-status = "~2.0.13"
tokio = { version = "1.32.0", features = ["rt-multi-thread", "time", "macros", "sync"] }

[build-dependencies]
anyhow = "1.0.65"
cargo-lock = "9.0.0"
git-version = "0.3.5"
prost-build = "0.12.1"
vergen = { version = "9.0.1", features = ["build", "rustc"] }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[profile.release]
lto = true
codegen-units = 1
