[package]
name = "solana-accountsdb-plugin-kafka"
description = "Solana AccountsDb plugin for Kafka"
authors = ["Blockdaemon"]
version = "0.1.7+solana.2.1.15"
edition = "2021"
repository = "https://github.com/Blockdaemon/solana-accountsdb-plugin-kafka"
license = "Apache-2.0"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
agave-geyser-plugin-interface = { version = "~2.1" }
solana-program = { version = "~2.1" }
solana-transaction-status = { version = "~2.1" }
solana-logger = { version = "*" }

hyper = { version = "1.6", features = ["http1", "server"] }
hyper-util = { version = "0.1", features = ["tokio", "server"] }
lazy_static = "*"
log = "*"
prometheus = "*"
prost = "*"
rdkafka = { version = "*", features = ["ssl", "sasl"] }
serde = { version = "*", features = ["derive"] }
serde_json = { version = "*" }
tokio = { version = "*", features = ["rt-multi-thread", "time", "macros", "sync"] }
tower = { version = "*", features = ["make"] }
bytes = "1.10.1"
http-body-util = "0.1.2"
http = "1.0"

[build-dependencies]
anyhow = "*"
cargo-lock = "*"
git-version = "*"
prost-build = "*"
vergen = { version = "*", features = ["build", "rustc"] }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
