[package]
name = "solana-accountsdb-plugin-kafka"
description = "Solana AccountsDb plugin for Kafka"
authors = ["Blockdaemon"]
version = "0.1.8+solana.2.3.7"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/Blockdaemon/solana-accountsdb-plugin-kafka"
homepage = "https://blockdaemon.com"
keywords = ["solana", "blockchain", "kafka", "plugin"]
categories = ["cryptography::cryptocurrencies", "database", "network-programming"]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
agave-geyser-plugin-interface = { version = "~2.3" }
solana-logger = { version = "*" }
solana-message = { version = "~3.0" }
solana-pubkey = { version = "*" }
solana-transaction-status = { version = "*" }

hyper = { version = "*", features = ["http1", "server"] }
hyper-util = { version = "*", features = ["tokio", "server"] }
lazy_static = "*"
log = "*"
prometheus = "*"
prost = "*"
rdkafka = { version = "*", features = ["ssl", "sasl"] }
serde = { version = "*", features = ["derive"] }
serde_json = { version = "*" }
tokio = { version = "*", features = ["rt-multi-thread", "time", "macros", "sync", "net"] }
tower = { version = "*", features = ["make"] }
bytes = "*"
http-body-util = "*"
http = "*"

[build-dependencies]
anyhow = "*"
cargo-lock = "*"
git-version = "*"
prost-build = "*"
vergen = { version = "*", features = ["build", "rustc"] }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
