[package]
name = "solana-accountsdb-plugin-kafka"
description = "Solana AccountsDb plugin for Kafka"
authors = ["Blockdaemon"]
version = "0.1.3+solana.1.10.32"
edition = "2021"
repository = "https://github.com/Blockdaemon/solana-accountsdb-plugin-kafka"
license = "Apache-2.0"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
prost = "0.10"
rdkafka = { version = "0.28", features = ["ssl-vendored", "sasl"] }
solana-geyser-plugin-interface = { version = "=1.10.32" }
solana-logger = { version = "=1.10.32" }
solana-program = { version = "=1.10.32" }
solana-transaction-status = { version = "=1.11.4" }
log = "0.4"
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
simple-error = "0.2.3"

[build-dependencies]
prost-build = "0.10"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
