[package]
name = "solana-accountsdb-plugin-kafka"
description = "Solana AccountsDb plugin for Kafka"
authors = ["Blockdaemon"]
version = "0.1.8+solana.1.16.14"
edition = "2021"
repository = "https://github.com/Blockdaemon/solana-accountsdb-plugin-kafka"
license = "Apache-2.0"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
hyper = { version = "0.14.26", features = ["server"] }
lazy_static = "1.4.0"
log = "0.4.0"
prometheus = "0.13.3"
prost = "0.11.9"
rdkafka = { version = "0.33.0", features = ["ssl", "sasl"] }
serde = { version = "1.0.147", features = ["derive"] }
serde_json = "1.0.81"
solana-geyser-plugin-interface = "=1.16.14"
solana-logger = "=1.16.14"
solana-program = "=1.16.14"
solana-transaction-status = "=1.16.14"
tokio = { version = "1.14", features = ["rt-multi-thread", "time", "macros", "sync"] }

[build-dependencies]
anyhow = "1.0.65"
cargo-lock = "9.0.0"
git-version = "0.3.5"
prost-build = "0.11.9"
vergen = { version = "8.2.1", features = ["build", "rustc"] }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[profile.release]
debug = true
lto = true
codegen-units = 1

[profile.release-wo-debug]
inherits = "release"
debug = false
