# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
on:
  push:
    tags:
      - 'v*'
  pull_request:
    paths:
      - '.github/workflows/release.yml'

env:
  CARGO_TERM_COLOR: always

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2

      - name: Set env vars
        id: set-vars
        run: |
          rust_stable=$(rustc --version | awk '{print $2}')
          echo "rust_stable=$rust_stable" >> "$GITHUB_OUTPUT"
          echo "RUST_STABLE=$rust_stable" >> "$GITHUB_ENV"

      - name: Install build requirements
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            gnupg \
            libudev-dev \
            libsasl2-dev \
            libssl-dev \
            libzstd-dev
          sudo apt-get satisfy -f -y "protobuf-compiler (>=3.15)"

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ steps.set-vars.outputs.rust_stable }}
          override: true
          profile: minimal
          components: rustfmt

      - name: Check Solana version
        id: solana-version
        run: |
          echo "CI_TAG=${GITHUB_REF#refs/*/}" >> "$GITHUB_ENV"
          echo "CI_OS_NAME=linux" >> "$GITHUB_ENV"

          SOLANA_VERSION="$(./ci/solana-version.sh)"
          SOLANA_VERSION="v${SOLANA_VERSION#=}"
          echo "solana_version=$SOLANA_VERSION" >> "$GITHUB_OUTPUT"
          echo "SOLANA_VERSION=$SOLANA_VERSION" >> "$GITHUB_ENV"

      - name: Build release tarball
        run: ./ci/create-tarball.sh

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          body: |
            solana-accountsdb-plugin-kafka ${{ github.ref_name }}
            solana ${{ steps.solana-version.outputs.solana_version }}
            rust ${{ steps.set-vars.outputs.rust_stable }}
          files: |
            solana-accountsdb-plugin-kafka-release*
