# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
on:
  push:
    tags:
      - 'v*'
  pull_request:
    paths:
      - '.github/workflows/release.yml'

env:
  CARGO_TERM_COLOR: always

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        id: rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Capture Rust version
        id: rust-version
        run: echo "version=$(rustc --version | awk '{print $2}')" >> "$GITHUB_OUTPUT"

      - name: Install build requirements
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            gnupg \
            libudev-dev \
            libsasl2-dev \
            libssl-dev \
            libzstd-dev
          sudo apt-get satisfy -f -y "protobuf-compiler (>=3.15)"

      - name: Check Solana version
        id: solana-version
        run: |
          echo "CI_TAG=${GITHUB_REF#refs/*/}" >> "$GITHUB_ENV"
          echo "CI_OS_NAME=linux" >> "$GITHUB_ENV"

          SOLANA_VERSION="$(./ci/solana-version.sh)"
          SOLANA_VERSION="v${SOLANA_VERSION#=}"
          echo "solana_version=$SOLANA_VERSION" >> "$GITHUB_OUTPUT"
          echo "SOLANA_VERSION=$SOLANA_VERSION" >> "$GITHUB_ENV"

      - name: Build release tarball
        run: ./ci/create-tarball.sh

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          body: |
            solana-accountsdb-plugin-kafka ${{ github.ref_name }}
            solana ${{ steps.solana-version.outputs.solana_version }}
            rust ${{ steps.rust-version.outputs.version }}
          files: |
            solana-accountsdb-plugin-kafka-release*
